{% extends "!layout.html" %}

{# 
{% block sidebartitle %}
#}

{# original content

{% if logo and theme_logo_only %}
<a href="{{ pathto(master_doc) }}">
{% else %}
<a href="{{ pathto(master_doc) }}" class="icon icon-home"> {{project }}
{% endif %}

{% if logo %}

<img src="{{ pathto('_static/' + logo, 1) }}" alt="SKA logo" class="logo" />
{% endif %}
</a>

{% if theme_display_version %}
{%- set nav_version = version %}
{% if READTHEDOCS and current_version %}
{%- set nav_version = current_version %}
{% endif %}
{% if nav_version %}
<div class="version">
{{ nav_version }}
</div>
{% endif %}
{% endif %}

{% include "searchbox.html" %}

end of original content #}

{# 
<a href="{{pathto(master_doc)}}" class="ska-logo"></a>

{% include "searchbox.html" %}

{% endblock %}
#}
